<div class="body">
    <h2>INFO</h2>
    <p><b>Server:</b> {{ server }}</p>
    <p><b>PHP:</b> {{ phpVersion }}</p>
    <p><b>User Agent:</b> {{ userAgent }}</p>
    <p><b>Текущее время:</b> {{ "now"|date("H:i:s", "Europe/Moscow") }}</p>
</div>