<div class="body">
    <h2>Список пользователей в хранилище</h2>

    <ul id="navigation">
        {% for user in users %}
            <li>{{ user.getUserName() }}. День рождения: {{ user.getUserBirthday() | date('d.m.Y') }}</li>
        {% endfor %}
    </ul>
</div>