<div class="body">
    <div class="weather-box">
        <h2 class="weather-title">Погода</h2>
        <p>Город: {{ name }}, {{ descr }}</p>
        <p>Температура: {{ temp }} C</p>
        <p>Ощущается, как: {{ feels }} C</p>
    </div>
</div>